/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

/*li[class] {
  color: var(--red);
}*/
/* Space ~=  any li with a class whose value includes but is not limited to dog
*/
li[class~="dog"] {
  color: var(--magenta);
}
/* Prefix ^= any li element with an id attribute whose value begins with c 
*/
li[id^="c"] {
  color: var(--teal);
}
/* Substring *= any li element with a class attribute whose value contains do
*/
li[class*="do"] {
  color: var(--royalblue);
}
/*Suffix $= any li element with a class attribute whose value ends in g
*/
li[class$="g"] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

/*.list-food ol > .second {
  color: var(--violet);
}*/

.first ~ li {
  color: var(--magenta);
}

.second + li {
  color: var(--royalblue);
}
